<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
  
  <servlet>
    <servlet-name>Api</servlet-name>
    <servlet-class>com.yellowbkpk.geo.xapi.servlet.ApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Api</servlet-name>
    <url-pattern>/api/0.6/node/*</url-pattern>
    <url-pattern>/api/0.6/way/*</url-pattern>
    <url-pattern>/api/0.6/relation/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Xapi</servlet-name>
    <servlet-class>com.yellowbkpk.geo.xapi.servlet.XapiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xapi</servlet-name>
    <url-pattern>/api/0.6/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CapabilitiesServlet</servlet-name>
    <servlet-class>com.yellowbkpk.geo.xapi.servlet.CapabilitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CapabilitiesServlet</servlet-name>
  	<url-pattern>/api/capabilities</url-pattern>
  	<url-pattern>/api/0.6/capabilities</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Stats</servlet-name>
  	<servlet-class>com.yellowbkpk.geo.xapi.admin.StatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Stats</servlet-name>
  	<url-pattern>/admin/stats</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Killer</servlet-name>
  	<servlet-class>com.yellowbkpk.geo.xapi.admin.ThreadKillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Killer</servlet-name>
  	<url-pattern>/admin/kill</url-pattern>
  </servlet-mapping>
</web-app>